@model MVC_NorthWind.Models.Region

@{
    ViewBag.Title = "Delete";
}

<head>
    <style>
        .row {
            margin-top: 1em;
            row-gap: 1em;
        }

        .error {
            color: red;
        }
    </style>

</head>

<body class="card container-fluid">
    <div class="row">
        <div class="card text-center container-fluid col-sm-5 shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.RegionID): </b>@Html.DisplayFor(model => model.RegionID)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.RegionDescription): </b>@Html.DisplayFor(model => model.RegionDescription)</p>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p>
                    <button class="btn btn-light">@Html.ActionLink("Atras", "TodasRegiones")</button>
                    <input type="submit" value="Eliminar" class="btn btn-light" />
                </p>
            }

            <p class="error">@ViewBag.ErrorMessage</p>
        </div>
    </div>
</body>
