@model MVC_NorthWind.Models.Categories

@{
    ViewBag.Title = "Edit";
}

<head>
    <style>
        .card {
            margin: 3em;
            width: auto;
        }
    </style>
</head>

@using (Html.BeginForm("Edit", "Categories", new { id = $"{Model.CategoryID}" } , FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <body>
        <div class="card container">
            <h2 align="center">Editar Categoria</h2>
            <form>
                <div class="row section">
                    <div class="col-sm">
                        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 3 })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm">
                        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label" })
                        <input class="form-control" type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12" style="margin-left:30em; margin-top: 2em; margin-bottom: 2em">
                        <input type="submit" value="Actualizar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </body>
    <div class="btn btn-outline-primary">
        @Html.ActionLink("Atras", "TodasCategorias")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
