@model MVC_NorthWind.Models.Order_Details

@{
    ViewBag.Title = "Eliminar Detalle de Orden";
}

<head>
    <style>
        .row {
            margin-top: 1em;
            row-gap: 1em;
        }

        .error {
            color: red;
        }
    </style>

</head>

<body class="card container-fluid">
    <div class="row">
        <div class="card text-center container-fluid col-sm-5 shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.OrderID): </b>@Html.DisplayFor(model => model.OrderID)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.ProductID): </b>@Html.DisplayFor(model => model.ProductID)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.UnitPrice): </b>@Html.DisplayFor(model => model.UnitPrice)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Quantity): </b>@Html.DisplayFor(model => model.Quantity)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Discount): </b>@Html.DisplayFor(model => model.Discount)</p>
                </div>
            </div>

            @using (Html.BeginForm("Delete", "Order_Details", new { id = $"{Model.OrderID} {Model.ProductID}" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <p>
                    <button class="btn btn-light">@Html.ActionLink("Atras", "TodosDetalles")</button>
                    <input type="submit" value="Eliminar" class="btn btn-light" />
                </p>
            }

            <p class="error">@ViewBag.ErrorMessage</p>
        </div>
    </div>
</body>