@model MVC_NorthWind.Models.Customers

@{
    ViewBag.Title = "Detalle";
}

<head>
    <style>
        .row {
            margin-top: 1em;
            row-gap: 1em;
        }
    </style>
</head>

<body class="card container-fluid">
    <div class="row">
        <div class="card text-center container-fluid col-sm-5 shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.CustomerID): </b>@Html.DisplayFor(model => model.CustomerID)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.CompanyName): </b>@Html.DisplayFor(model => model.CompanyName)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.ContactName): </b>@Html.DisplayFor(model => model.ContactName)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.ContactTitle): </b>@Html.DisplayFor(model => model.ContactTitle)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Address): </b>@Html.DisplayFor(model => model.Address)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.City): </b>@Html.DisplayFor(model => model.City)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Region): </b>@Html.DisplayFor(model => model.Region)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.PostalCode): </b>@Html.DisplayFor(model => model.PostalCode)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Country): </b>@Html.DisplayFor(model => model.Country)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Phone): </b>@Html.DisplayFor(model => model.Phone)</p>
                </div>
                <div class="card-text">
                    <p><b>@Html.LabelFor(model => model.Fax): </b>@Html.DisplayFor(model => model.Fax)</p>
                </div>
            </div>
            <p>
                <button class="btn btn-outline-primary">@Html.ActionLink("Atras", "TodosClientes")</button>
                <button class="btn btn-outline-primary">@Html.ActionLink("Editar Cliente", "Edit", new { id = Model.CustomerID })</button>
                <button class="btn btn-outline-primary">@Html.ActionLink("Eliminar Cliente", "Delete", new { id = Model.CustomerID })</button>
            </p>
        </div>
    </div>
</body>